body {

}



.pws1 {
  margin-left: 28px;
  float: left;
  padding-right: 75px;
}
.pws2 {
  margin-left: 25px;
  float: left;
  padding-right: 75px;
}
/*.pws3 {
  margin-left: 15px;
  float: left;
  padding-right: 25px;
}*/
.pws4 {
  margin-left: 25px;
  float: left;

}
